<app-navbar [titulo]="'Todo List- Lista de pendientes'"></app-navbar>
<div class="container mt-3">
    <div class="container">
        <form (ngSubmit)="guardarTarea(inputNombre.value)">
            <div class="row ">
                <div class="col-lg-8">
                    <input placeholder="Ingresa la tarea" type="text" class="form-control form-control-lg" id="tarea"
                        #inputNombre>
                </div>
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                </div>
            </div>
        </form>
     <div class="container mt-3" >
                    <div class="card" *ngFor="let tarea of tareas;let indice = index;" [class.tachado]="tarea.terminada">
                        <div class="row">
                            <div class="col">
                                <input [value]="tarea.terminada" (change)="cambiarEstadoDeTarea(inputTarea.value)"
                                    type="checkbox" aria-label="Checkbox for following text input" #inputTarea>
                                {{tarea.nombre}}
                            </div>
                            <div class="col">
                                <button (click)="eliminarTarea(inputTarea.value)">Elimimar tarea</button>
                            </div>
                        </div>
                    </div> 
        </div>
    </div>